<div class="special-selection-dialog">
    <h4>{{label}}</h4>
    <div class="special-options">
        {{#each stats}}
            <button class="special-option" 
                type="button" 
                data-stat="{{key}}">
                {{label}}
            </button>
        {{/each}}
    </div>
</div>