{{!-- systems/bizarre-adventures-d6/templates/partials/actor-nav.hbs --}}
{{#each sheetTabs as |tab|}}
  <div class="button-container">
    <a class="item" data-tab="{{tab.id}}" data-group="primary" title="{{tab.label}}" aria-label="{{tab.label}}"><i class="{{tab.icon}}"></i></a>
  </div>
{{/each}}