<div class="contest-class">
    {{#with actionSide}}
        {{> action-card showResolve=false}}
    {{/with}}
    <div style="border-top:2px solid #555;"></div>
    {{#with reactionSide}}
        {{> action-card showResolve=false}}
    {{/with}}
    {{#if (getProperty actionSide "quadrants.0.allPrepared")}}
        {{#if isResolved}}
            <div class="contest-resolve">
                <span class="select-stat is-disabled" data-tooltip="{{resolveTooltip}}">{{resolveLabel}}</span>
            </div>
        {{else}}
            <div class="contest-resolve">
                <button class="select-stat" data-action="resolve" data-tooltip="{{resolveTooltip}}">Resolve</button>
            </div>
        {{/if}}
    {{/if}}
</div>
