<div class="contest-class">
    {{#with actionSide}}
        {{> action-card}}
    {{/with}}
    <div style="border-top:2px solid #555;"></div>
    {{#with reactionSide}}
        {{> action-card}}
    {{/with}}
</div>
